/* External CSS Syntax
			selector {property: value; property: value;}
			selector  {
				property: value;
				property: value;
			}
*/

/*Universal Selector - used to target all elements*/
* {
	font-family: "Courier New", monospace;
	font-size: 20px;
	color: darkblue;
}

/*!important - used to break the hierarchy on applying styles*/
h1{
	color: goldenrod !important;
}

h2 {
	color: blue;
}

/*# - used to target specific ID */
#zuitt-motto {
	letter-spacing: 5px;
}

#offering-1 {
	color: darkgoldenrod;
}

/*. - used to target specific class*/
.offering-item {
	text-transform: uppercase;
}

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/* Adjacent Sibling Selector (+) - used to select an element  */
h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*div + p {
	background-color: blue;
}*/

/* General Sibling Selector (~) - used to select all elements that are next siblings of a specified element*/

/*div ~ p {
	background-color: yellow;
}*/

/* Child Selector (>) - used to select all elements that are the children of a specified element */

/*div > p {
	background-color: yellow;
}*/

/* Descendant Selector (whitespace) - used to match all elements that are descendants of a specified element */

/*div p {
	background-color: yellow;
}*/

/* Multiple Selector () - used to select multiple elements that is separated by a comma */

h3, p, ol, h1 {
	background-color: yellow;
}

